@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=GoogleSans&display=swap');

body {
    background-color:  #f9fbfd;  
    color: #000;
    font-weight: 400;
    font-size: 13px;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;;
    margin: 0;

}