.header {
    width: 100%;
    top: 0;
    left: 0;
    min-height: 70px;

}

.doc-name{
    font-size: 18px;
    font-variant-ligatures: no-contextual;
    line-height: 22px;
    color: rgb(92, 92, 92);
    position: relative;
}
.doc-name:focus {
    
    outline: 2px solid #1a73e8;
}
body {
    overflow-x: hidden;
}
.rename {
    position: absolute;
}
.send-img {
    margin-left: -3px;
}

.check-img {
    margin-left: -3px;
}
.star-div {
    background-color:  #e2e4e5;
    width: 60%;
    height: 95%;
    align-items: center;
    border-radius: 50%;
     opacity: 0;
     margin-top: -2px;
     visibility:hidden;
}

.send-div {
    background-color:  #e2e4e5;
    width: 60%;
    height: 100%;
    align-items: center;
    border-radius: 50%;
     opacity: 0;
     margin-top: -2px;
     visibility:hidden;
   margin-left: -9px;
}

.check-div {
    background-color:  #e2e4e5;
    width: 20%;
    height: 100%;
    align-items: center;
    border-radius: 50%;
     opacity: 0;
     margin-top: -2px;
     visibility:hidden;
   margin-left: -9px;
}

.history-div {
    background-color:  #e2e4e5;
    width: 110%;
    height: 60%;
    align-items: center;
    border-radius: 50%;
     opacity: 0;
     margin-top: 13px;
     visibility:hidden;
   margin-left: -9px;
}
.message-div {
    background-color:  #e2e4e5;
    width: 110%;
    height: 60%;
    align-items: center;
    border-radius: 50%;
     opacity: 0;
     margin-top: 14px;
     visibility:hidden;
   margin-left: 12px;
}
.video-div {
    background-color:  #e2e4e5;
    width: 80%;
    height: 60%;
    align-items: center;
    border-radius:20px;
     opacity: 0;
     margin-top: 13px;
     visibility:hidden;
   margin-left: 26px;
}
.share-div{
    background-color:  #c2e7ff;
    width: 80%;
    height: 65%;
    align-items: center;
    border-radius:20px;
    
     margin-top: -30px;
   margin-left: 25px;
}
.profile-div {
    background-color:  #e2e4e5;
    width: 61%;
    height: 60%;
    align-items: center;
    border-radius:20px;
     opacity: 0;
     margin-top: 16px;
     visibility:visible;
   margin-left: 24.5px;
}
.undo-div {
    background-color:  #e2e4e5;
    width: 30px;
    height: 26px;
    border-radius:5px;
    margin-top:6.5px;
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
}
.redo-div {
    background-color:  #e2e4e5;
    width: 30px;
    height: 26px;
    border-radius:5px;
    margin-top:6.5px;
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
}
.printer-div {
    background-color:  #e2e4e5;
    width: 30px;
    height: 26px;
    border-radius:5px;
    margin-top:6.5px;
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
}
.spell-div {
    background-color:  #e2e4e5;
    width: 30px;
    height: 26px;
    border-radius:5px;
    margin-top:6.5px;
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
}

.format-div {
    background-color:  #e2e4e5;
    width: 30px;
    height: 26px;
    border-radius:5px;
    margin-top:6.5px;
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
}
.zoom-div {
    background-color:  #e2e4e5;
    width: 65px;
    height: 26px;
    border-radius:5px;
    margin-top:-24px;
    margin-left: 1px;
    opacity: 0;
    visibility: hidden;
}
.zoom-100 {
    margin-top: 10px;
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
    margin-left: 7px;
}
.styles-div {
    background-color:  #e2e4e5;
    width: 105px;
    height: 32px;
    border-radius:5px;
    margin-top:-27px;
    margin-left: 3px;
    opacity: 0;
    visibility: hidden;
}
.font-div {
    background-color:  #e2e4e5;
    width: 110px;
    height: 32px;
    border-radius:5px;
    margin-top:-27px;
    opacity: 0;
    visibility: hidden;
}
.dec-div {
    background-color:  #e2e4e5;
    width: 25px;
    height: 28px;
    border-radius:5px;
    margin-top:4px;
    opacity: 0;
    visibility: hidden;
}
.inc-div {
    background-color:  #e2e4e5;
    width: 25px;
    height: 28px;
    border-radius:5px;
    margin-top:-30px;
    opacity: 0;
    visibility: hidden;
}
.bold-div {
    background-color:  #e2e4e5;
    width: 35px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.italic-div {
    background-color:  #e2e4e5;
    width: 35px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.underline-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.text-color-div{
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:-23px;
    opacity: 0;
    visibility: hidden;
}
.highlighter-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.insert-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.comment-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.picture-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.align-div {
    background-color:  #e2e4e5;
    width: 46px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.line-space-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.menu-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.edit-div {
    background-color:  #e2e4e5;
    width: 54px;
    height: 30px;
    border-radius:20px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.uparrow-div {
    background-color:  #e2e4e5;
    width: 34px;
    height: 28px;
    border-radius:5px;
    margin-top:5px;
    opacity: 0;
    visibility: hidden;
}
.list-with-bullet-div {
    background-color:  #e2e4e5;
    width: 35px;
    height: 35px;
    border-radius:50%;
    margin-top:-27px;
    margin-left: -8px;
    opacity: 0;
    visibility: hidden;
}

.font-inp {
    margin-top: 6px;
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
    font-weight: bold;
}
.history {
    visibility: hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);
}
.star {
    visibility: hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);
}

.send {
    visibility:hidden;
    opacity: 0;
    margin-left: 2px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);
}
.check {
    visibility:hidden;
    opacity: 0;
    margin-left: 11px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.message {
    visibility:hidden;
    opacity: 0;
    margin-left: 28px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.video {
    visibility:hidden;
    opacity: 0;
    margin-left: 65px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.share {
    visibility:hidden;
    opacity: 0;
    margin-left: 75px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.profile {
    visibility:hidden;
    opacity: 0;
    margin-left: -20px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.undo {
    visibility:hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.redo {
    visibility:hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.printer {
    visibility:hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.spell {
    visibility:hidden;
    opacity: 0;
    margin-left: 13px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.format {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.zoom {
    visibility:hidden;
    opacity: 0;
    margin-left:35px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
  
}
.styles {
    visibility:hidden;
    opacity: 0;
    margin-left: 50px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.styles-txt {
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
}
.font {
    visibility:hidden;
    opacity: 0;
    margin-left: 52px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.font-txt {
    margin-left: 19px;
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
}

.dec {
    visibility:hidden;
    opacity: 0;
    margin-left: 9px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}


.dec-txt {
    margin-left: -80px;
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
}
.inc {
    visibility:hidden;
    opacity: 0;
    margin-left: 9px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}

.inc-txt {
    margin-top: 3px;
    margin-left: -3px;
    color: rgb(92, 92, 92);
    font-family: Google Sans,Roboto,sans-serif!important;
    font-variant-ligatures: no-contextual;
}

.font-tool {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.bold {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.Italic {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.Underline {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.text-color {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.highlighter {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.insert {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.comment {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);   
}
.picture {
    visibility:hidden;
    opacity: 0;
    margin-left: 15px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%); 
}
.align {
    visibility:hidden;
    opacity: 0;
    margin-left: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.line-space {
    visibility:hidden;
    opacity: 0;
    margin-left: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.menu {
    visibility:hidden;
    opacity: 0;
    margin-left: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.edit {
    visibility:hidden;
    opacity: 0;
    margin-left: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.uparrow {
    visibility:hidden;
    opacity: 0;
    margin-left: -23px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.list-with-bullet {
    visibility:hidden;
    opacity: 0;
    margin-left: 50px;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translateX(-50%);  
}
.star-cont , .send-cont, .check-cont, .history-cont, .message-cont, .video-cont,.share-cont, .profile-cont, .undo-cont, .redo-cont, .printer-cont, .spell-cont, .format-cont{
    position: relative;
  display: inline-block;
  cursor: pointer;
}
.zoom-cont, .styles-cont, .dec-cont  {
    cursor: pointer;
    cursor: pointer;

}
.zoom-cont {
        margin-left: 180px;
        margin-top: -63.5px;
        cursor: pointer;

}
.font-cont {
    margin-left: -113px;
    cursor: pointer;
}
.font-inp-cont {
    margin-top: -40px;
    margin-left: -66px;
    cursor: pointer;

}
.dec-cont {
    margin-left: -95px;
    cursor: pointer;

}
.inc-cont {
    margin-top: -50px;
    margin-left: -30px;
    cursor: pointer;

}
.div-hover:hover {
    background-color:#e2e4e5 ;
    cursor: pointer;

}
.inp:hover {
    box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
cursor: pointer;

}
.bold-cont,.italic-cont,.underline-cont,.text-color-cont, .highlighter-cont, .insert-cont ,.comment-cont ,.picture-cont ,.align-cont ,.line-space-cont, .menu-cont, .edit-cont ,.uparrow-cont{
    cursor: pointer;

}
.star-cont:hover .star, .star-cont:hover .star-div, .send-cont:hover .send, .send-cont:hover .send-div,.check-cont:hover .check, .check-cont:hover .check-div, .history-cont:hover .history, .history-cont:hover .history-div,.message-cont:hover .message, .message-cont:hover .message-div, .video-cont:hover .video , .video-cont:hover .video-div ,.share-cont:hover .share, .profile-cont:hover .profile-div, .undo-cont:hover .undo, .undo-cont:hover .undo-div, .redo-cont:hover .redo , .redo-cont:hover .redo-div , .printer-cont:hover .printer, .printer-cont:hover .printer-div , .spell-cont:hover .spell, .spell-cont:hover .spell-div , .format-cont:hover .format ,.format-cont:hover .format-div, .zoom-cont:hover .zoom, .zoom-cont:hover .zoom-div , .styles-cont:hover .styles , .styles-cont:hover .styles-div , .font-cont:hover .font ,.font-cont:hover .font-div, .dec-cont:hover .dec, .dec-cont:hover .dec-div,.font-inp-cont:hover .font-tool, .inc-cont:hover .inc , .inc-cont:hover .inc-div ,.bold-cont:hover .bold ,.bold-cont:hover .bold-div ,.italic-cont:hover .Italic ,.italic-cont:hover .italic-div, .underline-cont:hover .Underline , .underline-cont:hover .underline-div ,.text-color-cont:hover .text-color, .text-color-cont:hover .text-color-div, .highlighter-cont:hover .highlighter-div ,.highlighter-cont:hover .highlighter, .insert-cont:hover .insert ,.insert-cont:hover .insert-div , .comment-cont:hover .comment , .comment-cont:hover .comment-div ,.picture-cont:hover .picture ,.picture-cont:hover .picture-div ,.align-cont:hover .align, .align-cont:hover .align-div ,.line-space-cont:hover .line-space ,.line-space-cont:hover .line-space-div ,.menu-cont:hover .menu ,.menu-cont:hover .menu-div ,.edit-cont:hover .edit ,.edit-cont:hover .edit-div ,.uparrow-cont:hover .uparrow, .uparrow-cont:hover .uparrow-div ,.list-with-bullet-cont:hover .list-with-bullet ,.list-with-bullet-cont:hover .list-with-bullet-div{
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}
.profile-cont:hover .profile{
    opacity: 1;
    cursor: pointer;
    visibility: visible;
    cursor: pointer;

}
.share-cont:hover .share-div {
    
    cursor: pointer;
    box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.75);
    background-color:  #93b8d0;
}
input[type="text"].doc-name:hover {
    border: .2px solid rgb(92, 92, 92);
   
    border-radius: 5px;
}

input[type="text"].doc-name:hover + .rename {
    opacity: 1;
}

#doc-name[input]:active {
    border: 2px solid blue
}

.tool-back1, .tool-back2,.tool-back3 ,.tool-back4,.tool-back5,.tool-back6, .tool-back7,.tool-back8   {

    padding: 13px 19px;
    border-radius: 3px;
    background-color: #e2e4e5;
    margin-left: -8px;
    margin-top: -23px;
    visibility: hidden;
    opacity: 0;
}
.tool-back2 {
    margin-left: -9px;
    padding: 13px 21px;
    margin-top: -23px;
}
.tool-back3 {
    margin-left: -5px;
    padding: 13px 21px;
    margin-top: -23px;
}
.tool-back4 {
    margin-left: -3.5px;
    padding: 13px 21px;
    margin-top: -23px;
}
.tool-back5 {
    margin-left: -3px;
    margin-top: -23px;
    padding: 13px 25px;
}
.tool-back6 {
    margin-left: -6px;
    padding: 13px 22px;
    margin-top: -23px;
}
.tool-back7 {
    margin-left: -5px;
    padding: 13px 38px;
    margin-top: -23px;
}
.tool-back8 {
    margin-left: -5px;
}
.tool-bar-cont1:hover .tool-back1,.tool-bar-cont2:hover .tool-back2, .tool-bar-cont3:hover .tool-back3, .tool-bar-cont4:hover .tool-back4, .tool-bar-cont5:hover .tool-back5 ,.tool-bar-cont6:hover .tool-back6, .tool-bar-cont7:hover .tool-back7, .tool-bar-cont8:hover .tool-back8{
    visibility: visible;
    opacity: 1;
    cursor: pointer;

}

.show {
    display: block;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: -2px 1px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 1px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 5px 1px rgba(0,0,0,0.75);
}
.hide {
    display: none;
}