.header {
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid black;
    min-height: 70px;

}

.doc-name{
    font-size: 18px;
    font-variant-ligatures: no-contextual;
    height: 20px;
    line-height: 22px;
    color: rgb(92, 92, 92);
}

input :focus {
    border: .5px solid black;
    
}